
<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

<title>curso angular Js</title>
</head>

<body>
<div ng-app>
<label>Nombre:</label>
 <input type="text" placeholder="Escribe tu Nombre" ng-model="Nombre">
  <input type="text" placeholder="Color" ng-model="Color">
 <hr>
 <h1 class="text-{{Color}}"> Hola {{Nombre}} !</h1>
</div>

</body>

</html>



